<html>
<div>
<button >this is datacenter6,from datacentersample.vm,will delay, version=  {version}</button>  
</div>
</html>
<script>
var obj={
	ondata:function(error,data){
		console.log("datacenter4 ondata",error,data);
	},
	data:{
	},
}
module.exports=obj;

</script>